<!-- <pow-workout></pow-workout> -->
<h1>Hello, World!</h1>

<pow-container>
        <pow-workout></pow-workout>
        <pow-person></pow-person>
        <h1>ng-content</h1>
</pow-container>

<div #text></div>

<!-- <div [ngSwitch]="role">
        <div *ngSwitchCase="'user'">Welcome User!</div>
        <div *ngSwitchCase="'admin'">
                Welcome Admin!
                <pow-workout></pow-workout>
        </div>
        <div *ngSwitchDefault="">
                You don't have permission to view this page. 
        </div>
</div> -->

<!-- <div>
        <ng-template #user></ng-template>
</div> -->