<h1>Welcome to {{appName}}</h1>

<button (click)="toggle()">{{ hideGym ? 'Show ' : 'Hide ' }} info</button>

<div [hidden]="hideGym">
        Current available gym:
        <div [innerText]="currentGym"></div>

        <div *ngIf="workouts?.barbell">
                Current available barbell workout(s):
                <table>
                        <tr>
                                <th>Workout Name</th>
                                <th>Workout Type</th>
                                <th>Recommended sets</th>
                                <th>Recommended reps</th>
                                <th>Recommended RPE</th>
                        </tr>
                        <tr [ngClass]="e ? 'even' : 'odd'"
                                *ngFor="let workout of workoutList; let i=index; let e=even; let o=odd">
                                <td>{{ workout.workoutName }}</td>
                                <td>{{ workout.workoutType }}</td>
                                <td>{{ workout.recommendedSets }}</td>
                                <td>{{ workout.recommendedReps }}</td>
                                <td>{{ workout.recommendedRPE | percent}}</td>
                        </tr>
                </table>
        </div>
</div>