<!-- <h1>Welcome to {{appName}}</h1> -->

<pow-header></pow-header>

<button (click)="toggle()">{{ hideGym ? 'Show ' : 'Hide ' }} info</button>

<div [hidden]="hideGym">
        Current available gym:
        <div [innerText]="currentGym"></div>
        <div *ngIf="selectedWorkout">
                {{selectedWorkout | json }}
        </div>
        <div>
                <button (click)="addWorkout()">Add Workout</button>
                <button (click)="editWorkout()">Edit Workout</button>
                <button (click)="deleteWorkout()">Delete Workout</button>

        </div>
        <div>
                <pow-workouts-list [workouts]="workoutList">
                        (selectedWorkout)="selectWorkout($event)">
                </pow-workouts-list>
        </div>
</div>